.header {
    height: 28vw;
    max-width: 30px auto;
    border-radius: 30px;
    background: url('../../assets/img.png');
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}
.header-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 3s;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  button {
   border: none;
   color: #747474;
   font-weight: 500;
   padding: 1vw 2.3vw;
   background-color: white;
   font-size: max(1vw, 13px);
   border-radius: 50px;
  }