.foodItem {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #d9d9d9;
}

.imageContainer {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.foodImage {
    width: 100%;
    border-radius: 20px;
}

.itemInfo {
    padding: 20px;
}

.ratingandname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.priceandicon {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.material-symbols-outlined {
    cursor: pointer;
}
.iconalignment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between icons and itemCount */
  }
  
  button {
    background-color: #bfbfbf;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
   
  .material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .material-symbols-outlined:hover {
    color: white;
  }
  
  .iconalignment span {
    display: flex;
    align-items: center;
  }
  .price{
    
    margin-top: 10px;
    margin-left: 11px;
    font-size: 20px;
}